body{
	font: 15px Courier, sans-serif;
	background-color: rgb(230, 238, 237);
}

p{
    color: blue;
	font-size: 18px;
}

table{
	border: solid;
	border-collapse: collapse;
	background-color: #A6F7EF;
	padding: 1% 2%;
}

caption{
	text-decoration: underline overline #FF3028;
    color: black;
	font-size: 24px;
	padding: 1% 2%;
}

.center{
	margin-left: auto;
	margin-right: auto;
}

tr, td, th{
	border: 1px solid green;
	text-align: right;
}

th{
	text-align: left;
}

.firstLine{
	text-decoration: underline #2487F7;
	font-size: 18px;
	background-color: yellow;
}

.lignesDatas:hover{
	background-color: #E2B10E;
	font-size: 22px;
}

.grandTotal{
	text-decoration: underline #FF3028;
    color: black;
	font-size: 20px;
	font-weight: bold;
	text-align: right;
	padding: 1% 2%;
}

.grandTotal:hover{
    color: blue;
}

.date{
	text-decoration: blink;
}

.images{
	text-align: center;
}